main {
  margin-left: 20px;
  word-spacing: 1px;

}

div {
  border: 1px solid #9747ff;
  width: 10px;
  height: 10px;
  background-color: #9747ff;
  color: black;
  border-radius: 100%;
}

hr {
  width: 430px;
  font-size: larger;
  border-color: #9747ff;
  height: 0px;
  margin-top:20px;
  margin-left: 10px;
}

#skills {
  display: flex;
  padding: 20px;
  width: 40vw;
  height: 25vh;
  border: 1 px solid #9f86c0;
  border-radius: 20px;
  background-color: #9f86c0;
  color: white;
  margin-top: 20px;
  justify-content: space-around;
  row-gap: 20px;
  
}

.bullets {
  margin-left: -20px;
  display: flex;
  /*margin-top: 20px;*/
  
}

#skills2{
float: left;

}
#skills2>:nth-child(2){
    margin-top: 40px;

}
#skills3>:nth-child(2){
    margin-top: 40px;

}
h3,h4, p{
    margin-left: 10px;
    
}
#lang{
  display: flex;
  gap: 60px;
}


