:root {
  /*colors*/
  --black:#180F0F ;
  --white:#FFFFFF;
  --primary: #E0B1CB;
  --secondary: #9F86C0;

  /*Typography*/
  --tile1: 2.5rem;
  --tile2: 2rem;
  --title3: 1.75rem;
  --paragraph: 1rem;
}
#div1{
    width: 100vw;
    height: 100px;
    background-color: var(--secondary);
  }
  section{
  display: flex;
  justify-content: center;
 
  
  }
  section>button{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
    height: 40px;
  justify-content: center;
   
 
  }
  button>a{
    text-decoration: none;
    color: var(--black);
   
  }
 